@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;
}

/* default styling ============================================== */
[data-theme="light"] {
  --bg-color: #fff6f0;
  --text-color: #1a1919;
  --active-day: #9dcdf3;
  --active-header: #92bfe0;
  --fade-text: #838385;
  --fade-bg: #1e1e1e;

  --light-background: rgba(255, 255, 255, 0.1);
  --light-box-shadow: 0 8px 32px 0 rgba(57, 58, 65, 0.37);
  --light-backdrop-filter: blur(0px);
  --light-webkit-backdrop-filter: blur(0px);
  --light-border-radius: 10px;
  --light-border: 1px solid rgba(255, 255, 255, 0.18);

  --humidity-bg: #1d1b1f;
  --humdity-single: #0f0d0f;
  font-family: "Nunito Sans", sans-serif;
}

[data-theme="dark"] {
  --bg-color: #000000;
  --text-color: #ffffff;
  --active-day: #9dcdf3;
  --active-header: #92bfe0;
  --fade-text: #838385;
  --fade-bg: #1e1e1e;

  --light-background: rgba(30, 30, 30, 0.6);
  --light-box-shadow: 0 8px 32px 0 rgba(57, 58, 65, 0.37);
  --light-backdrop-filter: blur(0px);
  --light-webkit-backdrop-filter: blur(0px);
  --light-border-radius: 10px;
  --light-border: 1px solid rgba(255, 255, 255, 0.18);

  --humidity-bg: #1d1b1f;
  --humdity-single: #0f0d0f;
  font-family: "Nunito Sans", sans-serif;
}
/* :root{
  --bg-color: #000000;
  --text-color: #ffffff;
  --active-day: #9DCDF3;
  --active-header: #92BFE0;
  --fade-text: #838385;
  --fade-bg: #1E1E1E;

  --humidity-bg: #1D1B1F;
  --humdity-single: #0f0d0f;
  font-family: "Nunito Sans", sans-serif;
} */

.loading {
  color: var(--text-color);
}
h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: var(--text-color);
}
h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: var(--text-color);
}
h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--text-color);
}
h4 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: var(--text-color);
}
h5 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--text-color);
}
h6 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--text-color);
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 20px;
  color: var(--fade-text);
}
a {
  text-decoration: none;
}

.real_time {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--fade-text);
}

.errorpage {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  font-size: 30px;
}
body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  font-family: "Raleway", sans-serif;
}

.loading-spinner {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-spinner img {
  width: 100px;
  height: 100px;
}

/* Responsive styles */
@media (max-width: 768px) {
  /* h1{
   font-size: ;
  } */
  /* h2{
    flex-basis: 100%; 
  }
  h3{
    flex-basis: 100%; 
  }
  h4{
    flex-basis: 100%; 
  }
  h5{
    flex-basis: 100%; 
  }
  h6{
    flex-basis: 100%; 
  } */
}

@media (max-width: 480px) {
}
/* Switch styles */
.mode-switch label {
  display: inline-block;
  width: 77px;
  height: 39px;
  position: relative;
  margin-left: 10px;
}

.mode-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #221f1f;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.4s;
  border-radius: 20px;
}
.mode-switch input {
  margin-top: 12px;
  margin-left: 20px;
}

.mode-switch input:checked + .slider {
  background-color: #eed028;
}

.mode-switch .slider:before {
  position: absolute;
  content: "";
  height: 33px;
  width: 34px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.mode-switch input:checked + .slider:before {
  transform: translateX(33px);
}

.main-content {
  width: 100%;
  height: 100vh;
  max-width: 90rem;
  margin: 0 auto;
}
/* .hero {
  display: flex;
  gap: 1em;
  flex-direction: column;
  padding: 1em;
}

.column {
  padding: 1em;
}

.column1 {

  display: flex;

  gap: 1em;
}

.column2 {
 
  background-color: #f1f1f1;
}

.sub-column {
  background-color: #ddd;
  padding: 1em;
} */

/* .sidebar {
  background-color: #f1f1f1;
  padding: 1em;
} */

.app {
  font-family: Arial, sans-serif;
}

.main-content {
  display: grid;
  grid-template-columns: 75% 24%;
  /* background-color: rgb(231, 173, 173); */
  gap: 1em;
  padding: 1em;
}

/* @media (max-width: 1024px) {
  .main-content {
      grid-template-columns: 1fr;
  }

  .hero {
      flex-direction: column;
  }

  .column1 {
      flex: 1 1 auto;
  }

  .column2 {
      flex: 1 1 auto;
  }
} */
